 <%= link_to "Back", unit_path(unit_of_user(@user)) %>

<p id="notice"><%= notice %></p>
<div class="col-md-6" id="user-profile-info">
    <div class="col-xs-2">
        <div class="panel-body" id="user-photo">
            <img src="images/800x800.png" alt="album image">
        </div>

    </div>

    <div class="col-md-4">
        <div class="panel-body" id="user-info">
            <p>
                <strong>Name:</strong>
                <%= @user.name %>
            </p>

            <p>
                <strong>Email:</strong>
                <%= @user.email %>
            </p>

            <p>
                <strong>Phone:</strong>
                <%= @user.phone %>
            </p>
            <% if current_user == @user %>
            <p><center><%= link_to 'Edit', edit_user_path(@user) %>
                |
                <%= link_to 'Back', users_path %>
            </center></p>
            <% end %>
        </div>
    </div>
</div>

<div class="col-md-6">
    <% if current_user == @user %>

    <h2>Your Chores</h2>

    <div class="col-md-6">
        <div class="panel-body" id="user-chore-info">
            <ul>
                <%@user.chores.each do |chore| %>
                <h3>
                    <%=chore.title%>
                </h3>
                <p>
                    <%=chore.details%>
                </p>
                <td>
                    <em><%=UserChore.where(chore_id: chore.id).first.completed ? "completed" : "yet to be done" %></em>
                </td>
                <% end %>

            </ul>



        <% else %>
          <div class="container">
            <h2><%=@user.name %>'s Chores</h2>
          </div>
            <div class="panel-body">
                <ul>
                    <%@user.chores.each do |chore| %>
                    <h3>
                        <%=chore.title%>
                    </h3>
                    <p>
                        <%=chore.details%>
                    </p>
                    <td>
                        <em><%=UserChore.where(chore_id: chore.id).first.completed ? "completed" : "yet to be done" %></em>
                    </td>
                    <% end %>

                </ul>
            </div>
            <% end %>
        </div>
    </div>
</div>
