<%= form_for(@unit), html: { class: "form-control" } do |f| %>
  <% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% @unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
  <div class="control-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="control-group">
    <%= f.label :address %><br>
    <%= f.text_field :address, class: "form-control" %>
  </div>
  <div class="control-group">
    <%= f.label :landlord_name %><br>
    <%= f.text_field :landlord_name, class: "form-control" %>
  </div>
  <div class="control-group">
    <%= f.label :landlord_phone %><br>
    <%= f.text_field :landlord_phone, class: "form-control" %>
  </div>
  <div class="control-group">
    <%= f.label :landlord_email %><br>
    <%= f.text_field :landlord_email, class: "form-control" %>
  </div>
  <div class="control-actions">
    <%= f.submit %>
  </div>
</fieldset>

<% end %>
