<div id="notice"><%= notice %></div>

<%= current_user %>

<h1>Listing Units</h1>
<%= link_to 'Create Unit', new_unit_path, class: "btn btn-danger btn-md"%>
<ul class="list-group">

<% @units.each do |unit| %>
  <li class="list-group-item"> <%= link_to unit.name, unit_path(unit) %>
    <% if (state(unit,current_user) === nil || state(unit,current_user) === "blank") %>
      <%= link_to "Join", state_path(unit, current_user, state: "pending"), html_options={method: :post, class: "pull-right"} %>
    <% end %>
    <% if state(unit,current_user) === "pending" %>
      <%= link_to "Remove", state_path(unit, current_user), html_options={method: :delete, class: "pull-right"} %>
    <% end %>
  </li>

<% end %>

</ul>
