<p id="notice"><%= notice %></p>

<div>
  <h3>Roommates</h3>
  <ul>
    <%@unit.users.where(state: "approved").each do |roommate| %>
    <p>
      <%=link_to(roommate.name,user_path(roommate))%>
    </p>
    <% end %>

  </ul>
</div>

    <%=link_to "Chores", unit_chores_path(@unit), html_options = {class: "btn btn-warning btn-sm"}%>

    <div>
      <h3>Pending Roommates</h3>
      <ul>
        <%@unit.users.where(state: "pending").each do |roommate| %>
        <p>
          <%= roommate.name %> <%=link_to("Approve",user_path(roommate), html_options={method: "patch",class: "btn btn-warning"})%> <%#=link_to("Decline",{:controller => "user", :action => "update", :state => "approved"}, html_options={method: "patch", class: "btn btn-destroy"})%>
        </p>
        <% end %>

      </ul>
    </div>



    <nav class="navbar navbar-inverse navbar-bottom" style="padding:0 0 120px 0">
      <div class="container">
        <p>
          <strong>Name:</strong>
          <%= @unit.name %>
        </p>

        <p>
          <strong>Address:</strong>
          <%= @unit.address %>
        </p>

        <p>
          <strong>Landlord name:</strong>
          <%= @unit.landlord_name %>
        </p>

        <p>
          <strong>Landlord phone:</strong>
          <%= @unit.landlord_phone %>
        </p>

        <p>
          <strong>Landlord email:</strong>
          <%= @unit.landlord_email %>
        </p>
      </div>
    </nav

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
