<p id="notice"><%= notice %></p>

<div>
  <h3>Roommates</h3>
  <ul>
    <%@unit.users.each do |roommate| %>
    <p>
      <%=link_to(roommate.name,user_path(roommate))%>
    </p>
    <% end %>

  </ul>
</div>

    <%=link_to "Chores", unit_chores_path(@unit) %>

<div>
<p>
  <strong>Name:</strong>
  <%= @unit.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @unit.address %>
</p>

<p>
  <strong>Landlord name:</strong>
  <%= @unit.landlord_name %>
</p>

<p>
  <strong>Landlord phone:</strong>
  <%= @unit.landlord_phone %>
</p>

<p>
  <strong>Landlord email:</strong>
  <%= @unit.landlord_email %>
</p>
</div>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
