<p id="notice"><%= notice %></p>
<div class="row">
    <h3>Roommates</h3>
      <hr>
    <%@unit.users.each do |roommate| %>
    <% if state(@unit,roommate) === "approved" %>
    <div class="col-sm-6">

    <div class="panel-primary">
      <div class="panel-heading">
        <%= roommate.name %>
      </div>

      <div class="panel-body">
        <div class="col-xs-3">
          <img id="user-photo" class="img-responsive img-circle" src= <%=roommate.photo%> >
        </div>
        <div class="col-xs-9" id="user-info">
          <p>
            <strong>Email:</strong>
            <%= roommate.email %>
          </p>

          <p>
            <strong>Phone:</strong>
            <%= roommate.phone %>
          </p>

          <p>
            <strong>Chores:</strong>
            <% roommate.chores.each do |chore| %>
              <%= chore.title %>
            <% end %>
          </p>
          <% if roommate == current_user %>
            <p> <%= link_to "Leave Unit", user_path(roommate), method: :delete%> </p>
            <p type="" name="" data-toggle="modal" data-target="#modal_user_<%=roommate.id%>_edit" class="">Edit Modal</p>
          <% end %>
        </div>
      </div>
    </div>

    <div id="modal_user_<%=roommate.id%>_edit" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
            <%= render partial: 'users/form', locals: {user: roommate}%>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

</div>
  <% end %>
  <% end %>



</div>

<div class="row">
  <%=link_to "Chores", unit_chores_path(@unit), html_options = {class: "btn btn-warning btn-block"}%>
<div id="pending" class="col-sm-6">
  <hr>
  <h3>Pending Roommates</h3>
  <hr>

  <ul class="list-group">
    <% @unit.users.each do |roommate| %>
    <% if state(@unit,roommate) === "pending" %>
    <li class="list-group-item">
      <%= roommate.name %>
      <span class="pull-right">
        <%= link_to "Approve", state_path(@unit, roommate, state: "approved"), html_options={method: :patch} %>
        | <%= link_to "Decline", state_path(@unit, roommate, state: "blocked"), html_options={method: :patch} %>
      </span>
    </li>

    <% end %>
    <% end %>

  </ul>
</div>


</div>


<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>


<nav class="navbar navbar-inverse">
  <div class="text-center">
    <p>
      <%= @unit.name %> | <%= @unit.address %>
    </p>

    <p>
      <strong>Landlord Contact:</strong>
      <%= @unit.landlord_name %> |
      <%= @unit.landlord_phone %> |
      <%= @unit.landlord_email %>
    </p>
  </div>
</nav>
