<p id="notice"><%= notice %></p>

<div class="row">

  <div class="col-xs-6">
    <h3>Roommates</h3>
    <ul class="list-group list-group-flush">
      <%@unit.users.each do |roommate| %>
        <li class="list-group-item">
          <%=link_to(roommate.name,user_path(roommate))%>
        </li>
      <% end %>

    </ul>
  </div>

  <div class="col-xs-6">
    <%=link_to "Chores", unit_chores_path(@unit), html_options = {class: "btn btn-warning btn-sm"}%>
  </div>


</div>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>


    <nav class="navbar navbar-inverse navbar-bottom" style="padding:0 0 120px 0">
      <div class="container text-center">
        <p>
          <%= @unit.name %> | <%= @unit.address %>
        </p>

        <p>
          <strong>Landlord Contact:</strong>
          <%= @unit.landlord_name %> |
          <%= @unit.landlord_phone %> |
          <%= @unit.landlord_email %>
        </p>
      </div>
    </nav>
