<p id="notice"><%= notice %></p>


<div class="row">

  <div class="col-xs-12">
    <h3>Roommates</h3>
    <div class="col-xs-12">
      <%=link_to "Chores", unit_chores_path(@unit), html_options = {class: "btn btn-warning btn-sm"}%>
      <hr>
    </div>


    <div class="container">
      <%@unit.users.each do |roommate| %>
        <% if state(@unit,roommate) === "approved" %>

        <!-- <span class="cardsView"> -->
        <span class="cardsDiv">
         <div class="panel panel-default bootcards-media" class="cards">
      <div class="panel-heading">
      <h3 class="panel-title">
        <%=link_to(roommate.name,user_path(roommate))%>
      </h3>
      </div>
      <div class="panel-body">
          <div class="img-circle" class="face front">
            <%= image_tag("couplesApartment.gif", :alt => "rss feed") %>
      	  </div>
	       </div>
         <div class="panel-footer">
           <%= link_to "CHORES", units_path%>
         </div>
      </div>
    <!-- </span> -->
  </div>
</span>


        <% end %>
      <% end %>

    </div>
  </div>



    <div>
      <h3>Pending Roommates</h3>
      <ul>
        <% @unit.users.each do |roommate| %>
        <% if state(@unit,roommate) === "pending" %>
        <p>
          <%= roommate.name %>
          <%= link_to "Approve", state_path(@unit, roommate, state: "approved"), html_options={method: :patch, class: "pull-right"} %>
          <%= link_to "Decline", state_path(@unit, roommate, state: "blocked"), html_options={method: :patch, class: "pull-right"} %>
        </p>

        <% end %>
        <% end %>

      </ul>
    </div>



</div>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %> |
<%= link_to 'Delete This Unit', unit_path, method: :delete %>


    <nav class="navbar navbar-inverse navbar-bottom" style="padding:50px 0 50px 0">
      <div class="container text-center">
        <p>
          <%= @unit.name %> | <%= @unit.address %>
        </p>

        <p>
          <strong>Landlord Contact:</strong>
          <%= @unit.landlord_name %> |
          <%= @unit.landlord_phone %> |
          <%= @unit.landlord_email %>
        </p>
      </div>
    </nav>
