<p id="notice" role="status" aria-live="assertive"><%= notice %></p>

<div class="row main">
  <div id="chores-link" class="col-sm-6 col-sm-offset-3">
    <%=link_to "Chores", unit_chores_path(@unit), html_options = {role:"link",class: "btn btn-warning btn-block"}%>
  </div>
</div>
<div class="row">
    <h3 aria-level="2" class="main">Roommates</h3>
      <hr aria-hidden="true">

    <%@unit.users.each do |roommate| %>
    <% if state(@unit,roommate) === "approved" %>
    <div class="col-sm-6">


    <div class="app panel-primary main" role="article" aria-label="<%= roommate.name %> details">

      <div role="heading" aria-level="3" class="panel-heading">
        <%= roommate.name %>
      </div>

      <div class="panel-body">
        <div class="col-xs-3">
          <img id="user-photo" class="img-responsive img-circle" alt="profile picture for <%=roommate.name%>" src= <%=roommate.photo%> >
        </div>
        <div class="col-xs-9" id="user-info">
          <p>
            <strong>Email:</strong>
            <%= roommate.email %>
          </p>

          <p>
            <strong>Phone:</strong>
            <%= roommate.phone %>
          </p>

          <p>
            <strong>Chores:</strong>
            <% roommate.chores.each do |chore| %>
              <%= "#{chore.title}, " %>
            <% end %>
          </p>
          <% if roommate == current_user %>
            <p><span role="button"> <%= link_to "Leave Unit", user_path(roommate), method: :delete%> </span> |
            <span data-toggle="modal" data-target="#modal_user_<%=roommate.id%>_edit" class="text-btn modal-btn" role="button">Edit User</span></p>
          <% end %>
        </div>
      </div>
    </div>



    <div id="modal_user_<%=roommate.id%>_edit" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close modal-close" aria-label="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit <%=roommate.name%>'s Profile</h4>
          </div>
          <div class="modal-body">
            <%= render partial: 'users/form', locals: {user: roommate}%>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default modal-close" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>


</div>
  <% end %>
  <% end %>

</div>

<% if any_pending?(@unit) %>
<div class="row main">
<div id="pending" class="col-sm-6">
  <hr aria-hidden="true">
  <h3 aria-level="2">Pending Roommates</h3>
  <hr aria-hidden="true">

  <div id="pendingListDesc" class="hidden">
    Approve or deny pending roommates to your unit.
  </div>
  <ul class="list-group" aria-describedby="pendingListDesc">
    <% @unit.users.each do |roommate| %>
    <% if state(@unit,roommate) === "pending" %>
    <li class="list-group-item pending-list-item">
      <%= roommate.name %>
      <span class="pull-right">
        <div role="button" class="pending-btn"><%= link_to "Approve", state_path(@unit, roommate, state: "approved"), html_options={method: :patch} %></div>
        | <div role="button" class="pending-btn"><%= link_to "Decline", state_path(@unit, roommate, state: "blocked"), html_options={method: :patch} %></div>
      </span>
    </li>

    <% end %>
    <% end %>

  </ul>
</div>

</div>

<% end %>

<div class="main">
  <span data-toggle="modal" data-target="#modal_unit_edit" class="text-btn modal-btn" role="button">Edit Unit</span> |
  <%= link_to 'All Units', units_path %>
</div>

<div id="modal_unit_edit" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close modal-close" aria-label="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'form', locals: {unit: @unit}%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default modal-close" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<nav class="navbar navbar-inverse main">
  <div class="text-center">
    <p>
      <%= @unit.name %> | <%= @unit.address %>
    </p>

    <p>
      <strong>Landlord Contact:</strong>
      <%= @unit.landlord_name %> |
      <%= @unit.landlord_phone %> |
      <%= @unit.landlord_email %>
    </p>
  </div>
</nav>
