
<h2> ABOUT US </h2><hr>

<div class="flip3D">
  <div class="back">
      <%= image_tag("andreaProfile.gif", :alt => "andreaProfile") %>
      I want a Fruit-Bat!
  </div>
  <div class="front">ANDREA<hr>
    <%= image_tag("gitHubIcon.png", :alt => "andreaProfile") %> https://github.com/andreaainara
  </div>
</div>

<div class="flip3D">
  <div class="back">
      <%= image_tag("arthurProfile.gif", :alt => "arthurProfile") %>
      I love TAUNTAUNS!
  </div>
  <div class="front">ARTHUR<hr>
    <%= image_tag("gitHubIcon.png", :alt => "arthurProfile") %> https://github.com/altonelli
  </div>
</div>

<div class="flip3D">
  <div class="back">
      <%= image_tag("nathanProfile.gif", :alt => "nathanProfile") %>
      Spirit Animal: Aye-Aye!
  </div>
  <div class="front">NATHAN<hr>
    <%= image_tag("gitHubIcon.png", :alt => "nathanProfile") %> https://github.com/timesize
  </div>
</div>

<div class="flip3D">
  <div class="back">
      <%= image_tag("ayushProfile.gif", :alt => "ayushProfile") %>
      Flying Bisons are cool!!
  </div>
  <div class="front">AYUSH<hr>
    <%= image_tag("gitHubIcon.png", :alt => "ayushProfile") %> https://github.com/jha-ayush
  </div>
</div>
