<%= form_for(@user_chore), html: { class: "form-control" } do |f| %>
  <% if @user_chore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_chore.errors.count, "error") %> prohibited this user_chore from being saved:</h2>

      <ul>
      <% @user_chore.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
  <div class="control-group">
    <%= f.label :due_date %><br>
    <%= f.datetime_select :due_date, class: "form-control" %>
  </div>
  <div class="control-group">
    <%= f.label :completed %><br>
    <%= f.check_box :completed, class: "form-control" %>
  </div>
  <div class="control-actions">
    <%= f.submit %>
  </div>
</fieldset>
<% end %>
