<div id="notice"><%= notice %></div>

<h1>Listing User Chores</h1>

<select class="form-control">
  <option>Kitchen</option>
  <option selected>Living Room</option>
  <option>Vaccuum</option>
</select>

<table>
  <thead>
    <tr>
      <th>Due date</th>
      <th>Completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_chores.each do |user_chore| %>
      <tr>
        <td><%= user_chore.due_date %></td>
        <td><%= user_chore.completed %></td>
        <td><%= link_to 'Show', user_chore %></td>
        <td><%= link_to 'Edit', edit_user_chore_path(user_chore) %></td>
        <td><%= link_to 'Destroy', user_chore, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User chore', new_user_chore_path %>
