<%= form_for @date_user_chore, url: date_path(@unit) do |f| %>

  <% if @date_user_chore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chore.errors.count, "error") %> prohibited this chore from being saved:</h2>

      <ul>
      <% @date_user_chore.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :due_date %><br>
    <%= f.date_field :due_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
