<%= form_for chore, url: (params[:action] == "new" ? unit_chores_path(@unit, chore) : chore), html: { class: "form-group" } do |f| %>

  <% if chore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chore.errors.count, "error") %> prohibited this chore from being saved:</h2>

      <ul>
      <% chore.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control", id: "chore_edit_title_#{chore.title}" %>
  </div>
  <div class="field">
    <%= f.label :details %><br>
    <%= f.text_field :details, class: "form-control", id: "chore_edit_details_#{chore.title}" %>
  </div>
  <div class="actions">
    <%= f.submit "Update Chore", class: "btn btn-default" %>
  </div>
</fieldset>
<% end %>
