<%= form_for @user_chore, url: unit_chores_path(@unit, @user_chore) do |f| %>

  <% if @user_chore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_chore.errors.count, "error") %> prohibited this chore from being saved:</h2>

      <ul>
      <% @user_chore.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= fields_for chore do |ch| %>
  <div class="field">
    <%=ch.label :title %><br>
    <%=ch.text_field :title %>
  </div>
  <div class="field">
    <%=ch.label :details %></br>
    <%=ch.text_field  :details %>
  </div>
  <% end %>

<span>Roommates Responsible:</span>
  <div class="field">
    <%= f.collection_check_boxes :user_id, @approved_users, :id, :name do |b| %>
    <div class="collection_check_box">
      <%= b.check_box %>
      <%= b.label %>
    </div>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Create Chore" %>
  </div>
<% end %>
