<% @user_chore = UserChore.new %>

<%= form_for @user_chore, url: reassign_path(@unit,chore,@user_chore), html: { id: "reassign_chore_#{chore.id}" } do |f| %>

  <% if @user_chore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_chore.errors.count, "error") %> prohibited this chore from being saved:</h2>

      <ul>
      <% @user_chore.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <label>Roommates Responsible:</label>
  <% user_ids = [] %>
  <% chore.users.each { |user| user_ids << user.id} %>

<fieldset>
  <div class="field">
    <%= f.collection_check_boxes :user_id, @approved_users, :id, :name do |b| %>
    <div class="collection_check_box">
      <% if user_ids.include?(b.value) %>
        <%= b.check_box options = {:checked => true, id: "reassing_chore_#{chore.id}_user_#{b.value}"} %>
      <% else %>
        <%= b.check_box options = {:checked => false, id: "reassing_chore_#{chore.id}_user_#{b.value}"} %>
      <% end %>
      <%= b.label %>
    </div>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Reassign", class: "btn btn-default" %>
  </div>
</fieldset>
<% end %>
