<p id="notice"><%= notice %></p>

<h1>Due Date: <%= UserChore.where(chore_id: @chores.first.id).first.due_date.strftime("%B %d, %Y") %></h1> <button type="button" name="button" data-toggle="modal" data-target="#modal_date">Edit Date</button>
<hr>


<div class="row">
  <div class="col-xs-6">
    <h4>To Do</h4>
    <hr>
    <% @chores.each do |chore| %>
    <% if !UserChore.where(chore_id: chore.id).first.completed %>
    <div class="panel-primary">
      <div class="panel-heading">
        <%= chore.title %>
        <div class="btn-group pull-right">
          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <!-- <span class="sr-only">v</span> -->
            <span class="glyphicon glyphicon-menu-down"></span>
          </button>
            <ul class="dropdown-menu">
              <li> <button class="btn btn-primary" type="button" name="button"  data-toggle="modal" data-target="#modal_<%=chore.id%>">Edit</button> </li>
              <li><%= button_to 'Destroy', chore, html_options={class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }} %></li>
            </ul>
        </div>
      </div>
      <div class="panel-body">
        <p class="">
          <%= chore.details %>
        </p>
        <p>
          Responsible:
          <% chore.users.each do |user| %>
          <%= link_to " #{user.name},", user_path(user) %>
          <% end %>
        </p>
        <%= button_to "Completed", user_chores_path(chore, :completed => true), html_options={class: "btn btn-success", method: :patch} %>
      </div>
    </div>

    <div id="modal_<%=chore.id%>" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
            <%#= chore %>
            <%= render partial: "edit_form", locals: {chore: chore} %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
    <% end %>
    <% end %>

  </div>
  <div class="col-xs-6">
    <h4>Finished</h4>
    <hr>
    <% @chores.each do |chore| %>
    <% if UserChore.where(chore_id: chore.id).first.completed %>
    <div class="panel-primary">
      <div class="panel-heading">
        <%= chore.title %>
        <div class="btn-group pull-right">
          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <!-- <span class="sr-only">v</span> -->
            <span class="glyphicon glyphicon-menu-down"></span>
          </button>
            <ul class="dropdown-menu">
              <li><%= link_to 'Edit', edit_chore_path(chore), html_options={class: "btn btn-primary"} %></li>
              <li><%= link_to 'Destroy', chore, html_options={class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }} %></li>
            </ul>
        </div>
      </div>
      <div class="panel-body">
        <p class="">
          <%= chore.details %>
        </p>
        <p>
          Responsible:
          <% chore.users.each do |user| %>
          <%= link_to " #{user.name},", user_path(user) %>
          <% end %>
        </p>
        <%= button_to "Incomplete", user_chores_path(chore, :completed => false), html_options={class: "btn btn-danger", method: :patch} %>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>

</div>

<hr>

<%= link_to 'New Chore', new_unit_chore_path(@unit), html_option={class:"btn btn-success new-chore"} %>


<div id="modal_date" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'edit_date' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
